{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'movie/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'movie/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div>
          <a href="/">Home</a>
          <a href="/contact">Contact</a>
        </div>
        <div>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
          <a href="/users">Users</a>
        </div>
      </div>
    </header>

    <div class="container">
      {% if messages %} {% for message in messages %}
      <div class="alert">{{ message }}</div>
      {% endfor %} {% endif %}

      <main>
        <h1 style="text-align: center">WELCOME</h1>
        <div
          style="display: flex; justify-content: center; margin-bottom: 50px"
        >
          <img
            style="box-shadow: 5px 5px rgba(197, 190, 193, 0.5)"
            src="{% static 'movie/Hogwarts-Legacy-when-does-take-place-timeline-580x334.jpg' %}"
            alt=""
          />
        </div>
        <div style="display: flex; justify-content: center">
          <button class="navigate-form">Add More Movies Here</button>
          <script>
            const formButton = document.querySelector(".navigate-form");
            formButton.addEventListener("click", function () {
              window.location.href = "/form";
            });
          </script>
        </div>
        <div class="movies-grid">
          {% for movie in title %}
          <div class="movie-card">
            <a href="/edit/{{movie.id}}">
              <p>{{ movie.title }}</p>
            </a>
            <p>${{ movie.price }}</p>
            <a
              onclick="return confirm('Are you sure you want to delete {{movie.title}}, it cannot be restored afterwards')"
              href="/delete/{{movie.id}}"
            >
              <button>Delete</button>
            </a>
          </div>
          {% endfor %}
        </div>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 HIPPOGRIFF. All rights reserved.</p>
    </footer>
  </body>
</html>
