<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\decor.css" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 100vh;
      "
    >
      <div style="grid-row: 1/6">
        <p>h</p>
        <p>e</p>
        <p>l</p>
        <p>l</p>
        <p>o</p>
      </div>
      <div>hello</div>
      <div>hello</div>
    </div>
  </body>
</html>
